/*
 * Широко используемые размеры
 */
$size_page_header_height: 3.4em;
$size_min_page_width: 800px;
$size_min_content_width: 960px;
$size_min_content_width_mobile: 280px;
$size_min_content_width_wide: 1920px;
