/*
 * Модули расположения
 */
@import "tools/sizes";

.l-section {
  padding-left: 6em;
  padding-right: 6em;
}
.l-container {
  width: 100%;
  max-width: $size_width_page;
  margin-left: auto;
  margin-right: auto;
}
.l-screen {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
}

/*
 * Сетка шириной 1, 2 или 4 элемента.
 * Ширина колонки изменяется в зависимости от размера
 * экрана. Соответственно количество видимых колонок меньше
 * для меньшего экрана.
 * Сделана немного похоже на Bootstrap, но
 * не универсальна!
 */
.l-grid,
.l-grid__row {
  display: block;
  width: 100%;
}
/*
 * В блоке l-grid__row кроме элементов l-grid__col
 * ничего не должно быть, в том числе и пробелов
 * и перевода строки!
 *
 * Стандартная ширина - 2 колонки (для IE8)
 */
.l-grid__col {
  display: inline-block;
  width: 50%;
}
/* Увеличение экрана более 1020px - 4 колонки: */
@media screen and (min-width: 1020px) {
  .l-grid__col {
    width: 25%;
  }
}
/* Уменьшение экрана до менее 720px - 1 колонка: */
@media screen and (max-width: 720px) {
  .l-grid__col {
    width: 100%;
  }
}
  
