/*
 * Модули расположения
 */
@import "tools/sizes";

.l-section {
  padding-left: 6em;
  padding-right: 6em;
}
.l-container {
  width: 100%;
  max-width: $size_width_page;
  margin-left: auto;
  margin-right: auto;
}
.l-screen {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
}

/*
 * Сетка шириной 4 колонки.
 * Возможные размеры колонки: 1, 2, 4.
 * Сделана немного похоже на Bootstrap, но:
 * - Строк нет - есть только колонки-ячейки.
 * - Размеры экранов другие: sm - меньше стандартного,
 *   lg - больше стандартного (см. @media ниже).
 *
 * Внимание!
 * В блоке l-grid кроме элементов l-grid__col
 * ничего не должно быть, в том числе и пробелов
 * и перевода строки!
 */
.l-grid {
  display: block;
  width: 100%;
}
/* 
 * Колонки разных размеров.
 */
[class*="l-grid__col"] {
  display: inline-block;
  vertical-align: top;
  padding: 0.4em;
}
.l-grid__col {
  width: 25%;
}
.l-grid__col2 {
  width: 50%;
}
.l-grid__col4 {
  width: 100%;
}
/* Увеличение экрана более 1400px - 4 колонки: */
@media screen and (min-width: 1400px) {
  .l-grid__lg-col {
    width: 25%;
  }
  .l-grid__lg-col2 {
    width: 50%;
  }
  .l-grid__lg-col4 {
    width: 100%;
  }
}
/* Уменьшение экрана до менее 780px - 1 колонка: */
@media screen and (max-width: 780px) {
  .l-grid__sm-col {
    width: 25%;
  }
  .l-grid__sm-col2 {
    width: 50%;
  }
  .l-grid__sm-col4 {
    width: 100%;
  }
}
  
