/*
 * Модули расположения
 */
@import "tools/sizes";

.l-section {
  padding-left: 6em;
  padding-right: 6em;
}
.l-container {
  width: 100%;
  max-width: 1208px;
  margin-left: auto;
  margin-right: auto;
}
.l-page-main {
  margin-top: $size_height_page-header;
}
