/*
 * Блок страницы: "Демонстрация"
 */
.demo__figure,
.demo__figure>* {
  width: 100%;
}
.demo__text li:before {
  display: inline;
  margin-right: 0.4em;
  font-size: 0.8em;
  content: '\e802';
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  speak: never;
}
.demo__text h3 {
  margin-top: 0.8;
  margin-bottom: 0.5em;
  line-height: 1;
}
.demo__text article+article {
  margin-top: 1.2em;
}

/* Увеличение экнана */
@media screen and (min-width: $size_screen_width_big_plus) {
  .demo__figure {
    width: 60%;
    max-width: 800px;
  }
  .demo__figure {
    float: left; 
    margin-right: 4em;
  }
  .demo__text article {
    margin-top: 2em;
  }
  .demo__text h3 {
    margin-top: 0;
  }
}
/* Уменьшение экнана */
@media screen and (max-width: $size_screen_width_small) {
  .demo__text h3 {
    margin-top: 0.6em;
    margin-bottom: 0.3em;
  }
  .demo__text article+article {
    margin-top: 0;
  }
}
