/*
 * Блок страницы: "Демонстрация"
 */
/*
.demo__figure {
}
*/
.demo__text li:before {
  display: inline;
  margin-right: 0.4em;
  font-size: 0.8em;
  content: '\e802';
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  speak: never;
}
.demo__text h3 {
  margin-top: 0;
  line-height: 1;
}
.demo__text article+article {
  margin-top: 2em;
}

@media screen and (min-width: 1370px) {
  .demo__figure {
    float: left; 
    margin-right: 4em;
  }
  .demo__text article {
    margin-top: 2em;
  }
}
