/*
 * "Преимущество" для списка преимуществ.
 */
.feature {
  position: relative;
}
.feature+.feature {
  margin-top: 2em;
}
.feature__icon {
  position: absolute;
  left: 0;
  top: -0.28em;
  font-size: 3em;
}
.feature__text {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 5em;
}
.feature__text>h3 {
  margin-top: 0;
}
/* Для маленьких экранов */
@media screen and (max-width: $size_screen_width_small) {
  .feature+.feature {
    margin-top: 0.6em;
  }
  .feature__icon {
    font-size: 2.2em;
  }
  .feature__icon:before {
    margin: 0;
  }
  .feature__text {
    margin-left: 3.8em;
  }
}
@media screen and (max-width: $size_screen_width_smaller) {
  .feature__text {
    margin-left: 3.4em;
  }
}
@media screen and (max-width: $size_screen_width_smallest) {
  .feature__icon {
    font-size: 1.2em;
    top: 0;
  }
  .feature__text {
    margin-left: 0;
  }
  .feature__text>h3 {
    margin-left: 2em;
  }
}
