/*
 * "Преимущество" для списка преимуществ.
 */
.feature {
  position: relative;
  /* Make margins of inner headers stay inside: */
  overflow: auto;
}
.feature+feature {
  margin-top: 2em;
}
.feature__icon {
  position: absolute;
  left: 0;
  top: 0.18em;
  font-size: 3em;
}
.feature__text {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 5em;
}
/* Для маленьких экранов */
@media screen and (max-width: $size_screen_width_small) {
  .feature__icon {
    font-size: 2.2em;
  }
  .feature__text {
    margin-left: 3.8em;
  }
  .feature__text>h3 {
    margin-top: 0.6em;
  }
}
@media screen and (max-width: $size_screen_width_smaller) {
  .feature__text {
    margin-left: 3.4em;
  }
}
@media screen and (max-width: $size_screen_width_smallest) {
  .feature__icon {
    display: none;
  }
  .feature__text {
    margin-left: 0;
  }
}
