/*
 * Элементы формы - поля ввода
 */
@import "tools/colors";

.form-input {
  display: block;
  width: 100%;
  background-color: $color_white_text;
  border: 1px solid $color_gray_border;
  border-radius: 4px;
  box-shadow: inset 1px 1px 2px $color_gray_border;
  padding: 0.2em 0.4em 0.2em 0.4em;
  font-size: 0.8em;
  color: inherit;
}
.form-input_textarea {
  @extend .form-input;
  resize: none;
  font-size: 1em;
  height: 7.4em;
}
/* Увеличение ширины экрана более чем 1400px */
@media screen and (min-width: 1400px) {
  .form-input {
    float: right;
    width: 16em;
  }
  .form-input_textarea {
    float: none;
    width: 100%;
  }
}
