/*
 * Заголовок страницы
 */

@import "tools/colors";
@import "tools/fonts";
/* Внимание! Есть внешнее управление размерами: */
@import "tools/sizes";

.main-header {
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  left: 0;
  height: $size_height_main-header;
  background-color: $color_yellow_accent_bg;
  text-align: right;
}
.main-header__content {
  display: table;
  height: 100%;
}
.main-header__content>* {
  display: table-cell;
  vertical-align: middle;
}
.main-header__logo {
  width: 30%;
  text-align: left;
  font-size: 2em;
  font-family: $font_logo;
}
.main-header__nav {
  width: 70%;
  text-align: right;
}
