/*
 * Форма для отпрваки сообщения
 */
@import "tools/colors";

.mail-form {
  
}
.mail-form__span>input,
.mail-form__span>select {
  display: block;
  float: right;
  width: 16em;
  font-size: 0.8em;
}
.mail-form__block>textarea {
  display: block;
  resize: none;
  width: 100%;
}
@media screen and (max-width: 1400px) {
  .mail-form__span>input,
  .mail-form__span>select {
    float: none;
    width: 100%;
  }
}
