/*
 * Меню навигации
 */
@import "tools/colors";

.nav-menu {
  display: inline-block;
}
.nav-menu__button {
  display: inline-block;
  border: none;
  background: inherit;
  font-size: 1.6em;
  cursor: pointer;
}
.nav-menu__button>* {
  display: inline-block;
  padding: 0.3em;
}
.nav-menu__list {
  position: absolute;
  display: none;
  right: 0;
  top: auto;
  border: 1px solid $color_gray_border;
  background: $color_white_bg;
  text-align: left;
}
.nav-menu__link {
  display: block;
  padding: 0.6em 1.6em 0.6em 1.2em;
  color: inherit;
  text-decoration: none;
}
.nav-menu:hover .nav-menu__list {
  display: block;
}
.nav-menu__link:hover {
  text-decoration: underline;
}

.is-nav-menu-visible {
  display: block;
}

.is-nav-menu__link-active {
  text-decoration: underline;
}

/*
@media screen and (min-width: 1100px) {
  .nav-menu,
  .nav-menu>* {
    display: inline-block;
  }
  .nav-menu__link {
    margin: 0 1.2em 0 1.2em;
  }

}
*/
