/*
 * Заголовок страницы
 */

@import "tools/colors";
@import "tools/fonts";
/* Внимание! Есть внешнее управление размерами: */
@import "tools/sizes";

.page-header {
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  left: 0;
  height: $size_page_header_height;
  background-color: $color_yellow_accent_bg;
  text-align: right;
}
.page-header__content {
  position: relative;
  display: table;
  height: 100%;
}
.page-header__content>* {
  display: table-cell;
  vertical-align: middle;
}
.page-header__logo {
  width: 20%;
  text-align: left;
  font-size: 2em;
  font-family: $font_logo;
}
.page-header__logo:hover {
  text-decoration: underline;
}
.page-header__logo a {
  color: inherit;
  text-decoration: inherit;
}
.page-header__nav {
  width: 80%;
  text-align: right;
}

/*
 * Уменьшение ширины экрана
 */
@media screen and (max-width: $size_screen_width_mini) {
  .page-header {
    height: $size_page_header_height_small;
  }
  .page-header__logo {
    font-size: 1.6em;
  }
}
