/*
 * Карточка цены
 */
@import "tools/fonts";
@import "tools/colors";

.price-card {
  position: relative;
  min-height: 14em;
  border-radius: 8px;
  background: $color_gray_bg;
  padding: 1em;
}
.price-card__header {
  margin-top: 0;
  margin-bottom: 0.6em;
  line-height: 1.2;
}
.price-card__price {
  position: absolute;
  display: inline-block;
  bottom: 1em;
  border-radius: 8px;
  padding: 0 0.4em;
  font-size: 1.2em;
  background: $color_white_text;
  @include font-weight_base_bold;
}

/*
 * Увеличение экрана
 */
/* 2 колонки */
@media screen and (min-width: $size_screen_width_big) {
  .price-card {
    min-height: 12em;
  }
}
/* 4 колонки */
@media screen and (min-width: $size_screen_width_big_plus) {
  .price-card {
    min-height: 17em;
  }
}
@media screen and (min-width: $size_screen_width_bigger) {
  .price-card {
    min-height: 14em;
  }
}
/*
 * Уменьшение экрана
 */
@media screen and (max-width: $size_screen_width_small) {
  .price-card {
    min-height: 12em;
  }
}
@media screen and (max-width: $size_screen_width_smaller) {
  .price-card {
    min-height: 11em;
  }
}
